{% extends 'base.html.twig' %}
{% trans_default_domain 'main' %}
{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('statics/css/login.css') }}">
{% endblock %}

{% block body %}

    <form class="form-signin" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
        <label for="inputEmail" class="sr-only">{% trans %}Email address{% endtrans %}</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="{% trans %}Email address{% endtrans %}" required autofocus>
        <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{% trans %}Password{% endtrans %}" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> {% trans %}Remember me{% endtrans %}
            </label>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="btn btn-lg btn-dark btn-block" type="submit">
            {% trans %}Sign in{% endtrans %}
        </button>
    </form>
{% endblock %}
