{% extends 'base.html.twig' %}
{% trans_default_domain 'main' %}
{% form_theme registration_form _self %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('statics/css/login.css') }}">
{% endblock %}

{% block form_row -%}
    {%- if compound is defined and compound -%}
        {%- set element = 'fieldset' -%}
    {%- endif -%}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {label_attr: {class: 'sr-only'}}) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}

{%- endblock form_row %}

{% block _user_registration_form_agree_terms_row %}
    <div class="checkbox mb-3">
        {{ form_errors(form) }}
        <label>
            <input type="checkbox"
                   name="{{ full_name }}"
                    {% if required %}
                        required="required"
                    {% endif %}
            > {{ label}}
        </label>
    </div>
{% endblock %}

{% block body %}

    {{ form_start(registration_form, {
        attr: {class: 'form-signin'}
    }) }}

        <h1 class="h3 mb-3 font-weight-normal">{% trans %}Register{% endtrans %}</h1>

        {{ form_row(registration_form.email, {attr: {placeholder: 'Email address'}}) }}
        {{ form_row(registration_form.plain_password, {attr: {placeholder: 'Password'}}) }}
        {{ form_row(registration_form.agree_terms, {label: 'Agree terms' | trans}) }}

        <button class="btn btn-lg btn-dark btn-block" type="submit">{% trans %}Sign up{% endtrans %}</button>
    {{ form_end(registration_form) }}

{#    <form class="form-signin" method="post">#}

{#        <h1 class="h3 mb-3 font-weight-normal">Register</h1>#}
{#        <label for="inputEmail" class="sr-only">Email address</label>#}
{#        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
{#        <label for="inputPassword" class="sr-only">Password</label>#}
{#        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>#}
{#        <div class="checkbox mb-3">#}
{#            <label>#}
{#                <input type="checkbox" name="_terms"> I agree terms I for sure read#}
{#            </label>#}
{#        </div>#}

{#    </form>#}
{% endblock %}
