{% extends 'base.html.twig' %}

{% block title %}Hello AdminNewsController!{% endblock %}

{% block body %}
        <div class="table-responsive">

            <div class="">
                <h1 class="d-inline-block align-middle">Новости ({{ pagination.getTotalItemCount }})</h1>
                <a href="{{ path('admin_news_create') }}" class="btn btn-secondary align-middle">
                    Create <span class="fa fa-plus-circle"></span>
                </a>
            </div>

            <form>
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search..."  value="{{ searchPhrase }}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Текст новости</th>
                    <th scope="col">Опубликовано</th>
                    <th scope="col">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for news in pagination  %}
                    <tr>
                        <td><a href="{{ path('news_show', {"slug": news.slug}) }}">{{ news.title }}</a></td>
                        <td>{{ news.content|truncate}}</td>
                        <td>
                            <span class="fa fa-{{ news.isPublished ? 'check' : 'times' }}"></span>
                        </td>
                        <td>
                            <a href="{{ path('admin_news_edit', {id: news.id}) }}">
                                <i class="fa fa-pencil-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No news found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ knp_pagination_render(pagination) }}
        </div>

{% endblock %}
